
<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Name</th>
        <th scope="col">Birth</th>
        <th scope="col">Position</th>
        <th scope="col">Salary</th>
        <th scope="col" colspan="2">Actions</th>
      </tr>
    </thead>
  
    <tbody>
      <tr *ngFor="let worker of workersList | paginate: { itemsPerPage: 5, currentPage: page }">
        <th scope="row">{{worker.id}}</th>
        <td>{{worker.name}}</td>
        <td>{{worker.birth}}</td>
        <td>{{worker.position}}</td>
        <td>{{worker.salary}}</td>
        <td > <p (click)="editWorker(worker)" style="cursor:pointer;display: inline;">EDIT</p> </td>
        <td > <p (click)="deleteWorker(worker)" style="cursor:pointer;display: inline;">DELETE</p> </td>
      </tr>

    </tbody>
    
  </table>
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
  <button type="button" class="btn btn-primary" (click)="createWorker()">Create worker</button>
  <!-- <button (click)="openDialog()">click</button>
  <button type="button" class="btn btn-primary" (click)="showModal()">Open a modal</button> -->
<br><br>
<pre class="card card-block card-header" *ngFor="let message of messages">{{message}}</pre>
 

